// Typography
// --------------------------------------------------

$base-font: 'Open Sans', Calibri, Arial, sans-serif;
$heading-font: $base-font;
$caption-font: $base-font;
$code-font: 'Source Code Pro';
$alt-font: serif;

$doc-font-size: 16;
$doc-line-height: 28;


// set-up the body font-size / line-height
body {
	margin-top: 0px + $doc-line-height;
	font-size: 0px + $doc-font-size;	
}


// Colors
// --------------------------------------------------
$base-color				   : rgba(#000,1);
$body-color      		 : #003300;
$text-color      		 : rgba(#000,1);
$comp-color 	 		   : complement(#000); 
$border-color    		 : lighten($base-color,60);
$white           		 : #fff;
$black           		 : #000;
$link-color 		     : rgba(#000,1);

$primary			       : #000;
$success			       : #5cb85c;
$warning			       : #dd8338;
$danger				       : #C64537;
$info				         : #308cbc;


// Screen Size
// --------------------------------------------------

$small               : "only screen and (min-width: 30em)";
$medium              : "only screen and (min-width: 48em)";
$large               : "only screen and (min-width: 62.5em)";